<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Inventories</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${productinventory}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<h2 th:case="null">No hay inventario de productos, agregalos :)!</h2>
				<div th:case="*">
					<h2 class="my-5">INVENTARIO DE PRODUCTOS </h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Id</th>
								<th>Cantidad</th>
								<th>Nombre producto</th>
								<th>Location</th>
								<th>Edit</th>
									<th>Ir a</th>
								<th>Ir a</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="inventory : ${productinventory}">
								<td class="text-info" th:text="${inventory.id}"></td>
								<td class="text-info" th:text="${inventory.quantity}"></td>
								<td class="text-info" th:text="${inventory.product.name}"></td>
								<td class="text-info" th:text="${inventory.location.name}"></td>
								<td><a th:href="@{/templatesProductInventory/edit/{id}(id=${inventory.id})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
							
							 <td><a th:href="@{/templatesproduct/Index/{id}(id=${inventory.id})}"
									class="btn btn-primary"><i
										class="fas fa-solid fa-cart-plus ml-2"></i></a></td>	
										
						      <td><a th:href="@{/templatesLocation/Index/{id}(id=${inventory.id})}"
									class="btn btn-primary"><i
										class="fas fa-solid fa-map ml-2"></i></a></td>	
								
							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/templatesProductInventory/add-productInventory/" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
			</div>
		</div>
		<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
	</div>
</body>
</html>